@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;

    /* TODO: Lets add better colors for design, all colors here are MVP  */
    --primary: #00a3ff;
    --background: #ffffff;
    --foreground: #000000;
  }

  .dark {
    --background: #1d1d1d;
    --foreground: #f5f5f5;
  }
}
